################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/01-Loops-Conditionals-Variables/Division/bin/Debug/net8.0
/01-Loops-Conditionals-Variables/Division/obj
/01-Loops-Conditionals-Variables/Division/.vs/Division
/01-Loops-Conditionals-Variables/Division/.dockerignore
/01-Loops-Conditionals-Variables/Division/Dockerfile
/01-Loops-Conditionals-Variables/Division/Division.csproj.user
/01-Loops-Conditionals-Variables/Vacation/.vs/Vacation
/01-Loops-Conditionals-Variables/Vacation/bin/Debug/net8.0
/01-Loops-Conditionals-Variables/Vacation/obj
